* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos referenciales a la pagina "index" */
.grilla-index {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }
  .grilla-index .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "seccion-1 aside" "seccion-2 aside" "seccion-3 aside";
    background-image: linear-gradient(#2e2e2e, #adadad); }
    .grilla-index .main .seccion-1 {
      grid-area: seccion-1;
      text-align: center;
      border: 5px solid black; }
      .grilla-index .main .seccion-1 .texto {
        padding: 2rem 2rem 1rem 2rem;
        background-color: rgba(0, 0, 0, 0.2);
        color: white; }
      .grilla-index .main .seccion-1 .ofertas-destacadas {
        background-image: url(../assets/images/naek-fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .grilla-index .main .seccion-1 .ofertas-destacadas .texto {
          border-radius: 50%;
          width: 45%; }
        .grilla-index .main .seccion-1 .ofertas-destacadas .ofertas-carrusel {
          margin: 1rem;
          width: 50%; }
          .grilla-index .main .seccion-1 .ofertas-destacadas .ofertas-carrusel .carousel-inner .tarjeta {
            border: 5px solid black;
            border-radius: 5%;
            background-color: #b8b9bb;
            background-color: gray;
            width: 100%; }
            .grilla-index .main .seccion-1 .ofertas-destacadas .ofertas-carrusel .carousel-inner .tarjeta .imagen {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin: 5px;
              height: 50%; }
              .grilla-index .main .seccion-1 .ofertas-destacadas .ofertas-carrusel .carousel-inner .tarjeta .imagen img {
                height: 100%; }
            .grilla-index .main .seccion-1 .ofertas-destacadas .ofertas-carrusel .carousel-inner .tarjeta .tarjeta-texto {
              height: 40%;
              color: black;
              padding: 10px; }
    .grilla-index .main .seccion-2, .grilla-index .main .seccion-3, .grilla-index .main .aside {
      grid-area: seccion-2;
      text-align: center;
      border: 5px solid black; }
      .grilla-index .main .seccion-2 .ofertas-destacadas, .grilla-index .main .seccion-3 .ofertas-destacadas, .grilla-index .main .aside .ofertas-destacadas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%; }
        .grilla-index .main .seccion-2 .ofertas-destacadas .texto, .grilla-index .main .seccion-3 .ofertas-destacadas .texto, .grilla-index .main .aside .ofertas-destacadas .texto {
          background-color: rgba(0, 0, 0, 0.2);
          margin: 1rem;
          color: white;
          padding: 1rem;
          border-radius: 3%; }
        .grilla-index .main .seccion-2 .ofertas-destacadas .caja-tarjetas, .grilla-index .main .seccion-3 .ofertas-destacadas .caja-tarjetas, .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas {
          background-color: rgba(207, 207, 207, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          justify-content: flex-start; }
          .grilla-index .main .seccion-2 .ofertas-destacadas .caja-tarjetas .tarjeta, .grilla-index .main .seccion-3 .ofertas-destacadas .caja-tarjetas .tarjeta, .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta {
            background-color: greenyellow;
            width: 12rem;
            height: 18rem;
            margin: .5rem;
            border: 5px solid black;
            border-radius: 5%;
            background-color: #b8b9bb;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            .grilla-index .main .seccion-2 .ofertas-destacadas .caja-tarjetas .tarjeta .imagen, .grilla-index .main .seccion-3 .ofertas-destacadas .caja-tarjetas .tarjeta .imagen, .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta .imagen {
              height: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin: 5px;
              border-radius: 3%;
              border: 2px solid black; }
              .grilla-index .main .seccion-2 .ofertas-destacadas .caja-tarjetas .tarjeta .imagen img, .grilla-index .main .seccion-3 .ofertas-destacadas .caja-tarjetas .tarjeta .imagen img, .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta .imagen img {
                height: 100%; }
            .grilla-index .main .seccion-2 .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto, .grilla-index .main .seccion-3 .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto, .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto {
              height: 40%;
              background-color: #707070;
              border-radius: 3%;
              margin: 5px;
              padding: 5px;
              color: white; }
              .grilla-index .main .seccion-2 .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto:hover, .grilla-index .main .seccion-3 .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto:hover, .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto:hover {
                color: black; }
    .grilla-index .main .seccion-3 {
      grid-area: seccion-3; }
    .grilla-index .main .aside {
      grid-area: aside;
      background-color: rgba(20, 20, 20, 0.4); }
      .grilla-index .main .aside .ofertas-destacadas {
        justify-content: center; }
        .grilla-index .main .aside .ofertas-destacadas .texto {
          border-radius: 5%; }
        .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas {
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-evenly; }
          .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto {
            color: black; }
            .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas .tarjeta .tarjeta-texto:hover {
              color: white; }

.grilla-contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "seccion-1" "footer";
  background-image: linear-gradient(#692d9b, #444497); }
  .grilla-contacto #seccion-1 {
    grid-area: seccion-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .grilla-contacto #seccion-1 .caja {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem; }
      .grilla-contacto #seccion-1 .caja .subcaja {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .grilla-contacto #seccion-1 .caja .subcaja .social {
          text-decoration: none;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto; }
          .grilla-contacto #seccion-1 .caja .subcaja .social img {
            width: 15%; }
          .grilla-contacto #seccion-1 .caja .subcaja .social p {
            font-size: 1rem;
            color: #252323; }
            .grilla-contacto #seccion-1 .caja .subcaja .social p:hover {
              color: #14d494; }

.grilla-empresa {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "seccion-1" "seccion-2";
  background-image: linear-gradient(#2e2e2e, #adadad); }
  .grilla-empresa #seccion-1 {
    grid-area: seccion-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .grilla-empresa #seccion-1 .caja {
      width: 100%;
      padding: 1rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .grilla-empresa #seccion-1 .caja h1 {
        font-size: 2rem; }
      .grilla-empresa #seccion-1 .caja p {
        font-size: 1rem;
        padding: 0 4rem; }
      .grilla-empresa #seccion-1 .caja img {
        margin: .3rem; }
        .grilla-empresa #seccion-1 .caja img.logo {
          width: 5%; }
        .grilla-empresa #seccion-1 .caja img.imagen {
          width: 85%; }
    .grilla-empresa #seccion-1 .caja-2 {
      flex-direction: column; }
  .grilla-empresa #seccion-2 {
    grid-area: seccion-2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .grilla-empresa #seccion-2 .texto {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem; }
      .grilla-empresa #seccion-2 .texto p {
        font-size: 1rem; }
      .grilla-empresa #seccion-2 .texto .caja {
        margin: 1rem; }

.grilla-algo {
  background-image: linear-gradient(#692d9b, #444497);
  height: 50rem; }
  .grilla-algo #main {
    background-image: url(../assets/images/naek.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%; }
    .grilla-algo #main .error {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: .5rem;
      text-decoration: none;
      height: 100%; }
      .grilla-algo #main .error:hover .caja {
        transform: scale(0.7);
        padding: 1px; }
      .grilla-algo #main .error .caja {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: .5rem; }
        .grilla-algo #main .error .caja img {
          width: 70%;
          padding: 1rem;
          margin: 2rem; }
        .grilla-algo #main .error .caja h2 {
          font-size: 6rem;
          color: maroon; }
        .grilla-algo #main .error .caja .texto {
          color: maroon;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .grilla-algo #main .error .caja .texto p {
            font-size: 3rem; }

.texto h1 {
  font-size: 2.4rem; }

.texto h2 {
  font-size: 2rem; }

.texto h5 {
  font-size: 1.5rem; }

.texto p {
  font-size: 1rem; }

header {
  grid-area: header; }
  header nav .container-fluid {
    background-color: black; }
    header nav .container-fluid .container a {
      background-color: rgba(202, 202, 202, 0.5);
      padding: .5rem .5rem 0 0;
      border-radius: 25%; }
      header nav .container-fluid .container a .logo {
        background-color: white;
        border-radius: 50%; }
      header nav .container-fluid .container a:hover {
        background-color: black;
        color: white; }
        header nav .container-fluid .container a:hover .logo {
          background-color: #54a4be; }
    header nav .container-fluid #navbarNav ul {
      width: 60%; }
      header nav .container-fluid #navbarNav ul li {
        margin: .5rem; }
        header nav .container-fluid #navbarNav ul li a {
          width: 100%;
          background-color: gray;
          padding: .5rem 1rem;
          border: solid .15rem black;
          border-radius: 20%; }
          header nav .container-fluid #navbarNav ul li a:hover {
            background-color: #535353;
            color: white;
            transform: scale(1.1); }
          header nav .container-fluid #navbarNav ul li a:active {
            color: #ffee00;
            transform: scale(0.9); }

.footer {
  grid-area: footer;
  position: relative;
  background-color: #292929;
  border: 5px solid black;
  height: 7rem;
  display: inline-flex; }
  .footer .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: white;
    margin: 1rem;
    padding: .5rem .5rem .5rem 3rem;
    width: 55%;
    text-align: center; }
  .footer .logos-redes {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: end; }
    .footer .logos-redes .redes {
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 4rem; }
      .footer .logos-redes .redes a img {
        width: 40px;
        margin: .5rem; }
      .footer .logos-redes .redes a:hover {
        background-color: white;
        border-radius: 25%; }
    .footer .logos-redes .logo {
      background-color: #1b3842;
      border-radius: 50%; }
      .footer .logos-redes .logo:hover {
        background-color: white; }
      .footer .logos-redes .logo a img {
        height: 80px; }

@media only screen and (max-width: 768px) {
  header nav .container-fluid {
    background-color: white; }
    header nav .container-fluid #navbarNav ul {
      width: auto; }
      header nav .container-fluid #navbarNav ul li a {
        text-align: center;
        border-radius: 0%; }
  .grilla-index .main {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "seccion-1" "seccion-2" "seccion-3" "aside"; }
    .grilla-index .main .seccion-1 .ofertas-destacadas {
      flex-direction: column; }
      .grilla-index .main .seccion-1 .ofertas-destacadas .texto {
        width: 80%; }
    .grilla-index .main .aside .ofertas-destacadas .caja-tarjetas {
      flex-direction: row; }
  .footer {
    height: auto; }
    .footer .texto {
      text-align: start;
      width: 70%; }
    .footer .logos-redes {
      width: 30%;
      bottom: 2%;
      position: relative; }
      .footer .logos-redes .redes {
        margin: 0 .1rem;
        padding: 0;
        flex-direction: column; }
  .grilla-empresa .caja {
    flex-direction: column; } }
