/* Estilos referenciales a la pagina "index" */

.grilla-index{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    .main{
        grid-area: main;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "seccion-1 aside"
        "seccion-2 aside"
        "seccion-3 aside";

        .seccion-1{
            grid-area: seccion-1;
            text-align: center;
            background-color: green;

            .texto{
                padding: .5rem 1rem;
            }

            .ofertas-destacadas{
                background-color: lightgreen;
                margin: 1rem;

                display: flex;
                justify-content: space-around;
                align-items: center;

                .ofertas-carrusel{
                    margin: 1rem;

                    .carousel-inner{
                        
                        .tarjeta{

                            @include tarjeta-estilo;
                            background-color: gray;

                            .imagen{
                                @include flex-center;
                                flex-direction: column;
                                margin: 5px;

                                height: 50%;

                                img{
                                    height: 100%;
                                }
                            }


                            .tarjeta-texto{
                                height: 40%;
                            }
                        }
                    }
                }
            }
        }

        .seccion-2{
            grid-area: seccion-2;
            text-align: center;
            border: 5px solid black;

            .ofertas-destacadas{
                background-color: green;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 100%;

                .texto{
                    background-color: aquamarine;
                    margin: 1rem;
                }

                .caja-tarjetas{
                    background-color: lightgreen;

                    @include flex-center;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    .tarjeta{
                        background-color: greenyellow;
                        width: $tamaño-tarjeta;
                        margin: .5rem;

                        @include tarjeta-estilo;                                            
                        @include flex-center;
                        flex-direction: column;

                        .imagen{
                            height: 50%;
                            @include flex-center;
                            flex-direction: column;
                            margin: 5px;

                            border-radius: 3%;
                            border: 2px solid black;

                            img{
                                height: 100%;
                            }
                        }

                        .tarjeta-texto{
                            height: 40%;
                            background-color: gray;
                            border-radius: 3%;
                            margin: 5px;
                        }
                    }
                }
            }
        }

        .seccion-3{
            @extend .seccion-2;
            grid-area: seccion-3;
        }

        .aside{
            @extend .seccion-2;
            grid-area: aside;

            .ofertas-destacadas{
                justify-content: center;

                .caja-tarjetas{
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;

                }
            }
        }
    }
    .footer{
        grid-area: footer;
        position: relative;

        background-color: gray;
        border: 5px solid black;
        height: 10rem;

        display: inline-flex;

        .texto{
            @include flex-center;
            align-items: center;
        }

        .logos-redes{
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: auto;
            height: auto;

            background-color: lightblue;
            @include flex-center;
            align-items: end;
            
            .redes{
                width: $altura-redes*5;
                @include flex-center;
                justify-content: space-evenly;
                margin: 0 4rem;

                a{

                    img{
                        width: $altura-redes;
                        margin: .5rem;
                    }

                    &:hover{
                        background-color: red;
                    }
                }
            }

            .logo{
                background-color: rgb(21, 93, 117);

                a{
                    
                    img{
                        height: $altura-logo;
                    }

                }
                
            }
        }

    }
}