

@media only screen and (max-width: 768px){
    .grilla-index{

        .container-fluid{
            background-color: white;

            #navbarNav{
                ul{
                    width: auto;
                    a{
                        text-align: center;
                        border-radius: 0%;
                    }
                }
            
            }
        }

        .main{
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
            "seccion-1"
            "seccion-2"
            "seccion-3"
            "aside";

            .seccion-1{
                .ofertas-destacadas{
                    flex-direction: column;

                    .texto{
                        width: 80%;
                    }
                }
            }

            .aside{

                .ofertas-destacadas{

                    .caja-tarjetas{
                        flex-direction: row;
                    }
                }
            }
        }
    }

    .footer{
        height: auto;

        .texto{
            text-align: start;
            width: 70%;
        }

        .logos-redes{
            width: 30%;
            bottom: 2%;
            position: relative;

            .redes{
                margin: 0 .1rem;
                padding: 0;
                flex-direction: column;
            }
        }
    }
}