*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "variables" ;
@import "funciones";
@import "index";

header{
    grid-area: header;
}

nav{

    .container-fluid{
        background-color:aquamarine;

        .container{

            a{
                background-color: aqua;
                padding: .5rem .5rem 0 0;

                &:hover{
                    background-color: red;
                    color: white;
                }
            }
            
        }

        #navbarNav{

            ul{

                li{
                    margin: .5rem;
                    
                    a{
                        width: 100%;
                        background-color: gray;
                        padding: .5rem 1rem;
                        border: solid .15rem black;
                        border-radius: 20%;

                        &:hover{
                            background-color: rgb(83, 83, 83);
                            color: white;
                            transform: scale(1.1);
                        }
                    }                    
                }
            }
        }
    }
}
